global

log /dev/log            local1 notice
maxconn                 40000
stats socket /var/run/haproxy.sock mode 660 level admin
stats timeout 2m 
uid                     188
gid                     188
nbproc                  1
chroot                  /var/empty
daemon

frontend 8000-Client
bind                    0.0.0.0:8000
mode                    http
log                     global
option                  dontlognull
option                  forwardfor
reqadd X-Forwarded-Proto:\ http
maxconn                 30000
timeout client          5m
timeout client-fin      15s
timeout http-keep-alive 15s
log /dev/log            local1 debug
option httplog
acl old_client_start capture.req.uri /client/
acl has_header_client hdr(referer) -m beg http://client.iptv.nadmdomain.hal.com
redirect code 302 location http://client.iptv.nadmdomain.hal.com:8000/v2/public/start/ if old_client_start !has_header_client
default_backend         EXM_Servers_8000

frontend 8003-WebSockets
bind                    0.0.0.0:8003
mode                    http
log                     global
option                  dontlognull
option                  forwardfor
reqadd X-Forwarded-Proto:\ http
maxconn                 7500
timeout client          11m
timeout client-fin      11m
log /dev/log            local1 debug
option httplog
default_backend         WebSockets_8003

frontend 80-Admin
bind                    0.0.0.0:80
mode                    http
log                     global
option                  dontlognull
option                  forwardfor
reqadd X-Forwarded-Proto:\ http
maxconn                 1000
timeout client          5m
log /dev/log            local1 debug
option httplog
default_backend         EXM_Admin_Servers

backend EXM_Admin_Servers
stats   enable
stats   auth    holland:uievolution
mode                    http
balance                 source

timeout connect         5m
timeout server          5m
retries                 3
option                  httpchk GET /v2/public/check?key=1234 HTTP/1.1\r\nHost:\ prod.uiexm.com
server                  app01-exm-admin app01-private:80 check weight 256
server                  app02-exm-admin app02-private:80 check weight 1

backend EXM_Servers_8000
mode                    http
balance                 source

timeout connect         5m
timeout server          5m
retries                 3





acl html_rsp shdr_sub(Content-Type) -i text/html
acl rsp_err     status ge 400
rsprep ^(.*)$ \  if html_rsp rsp_err




errorfile               502 /etc/haproxy/emptyresponse.http
errorfile               503 /etc/haproxy/emptyresponse.http
errorfile               504 /etc/haproxy/emptyresponse.http
option                  httpchk GET /v2/public/check?key=1234  HTTP/1.1\r\nHost:\ prod.uiexm.com
server                  app01-client app01-private:8000  maxconn 25 check weight 1
server                  app02-client app02-private:8000  maxconn 30 check weight 1

backend WebSockets_8003
mode                    http
balance                 leastconn
timeout connect         30s
timeout server          30s
timeout tunnel          11m
timeout server-fin      11m
retries                 3
acl html_rsp shdr_sub(Content-Type) -i text/html
acl rsp_err     status ge 400
rsprep ^(.*)$ \  if html_rsp rsp_err
errorfile               502 /etc/haproxy/emptyresponse.http
errorfile               503 /etc/haproxy/emptyresponse.http
errorfile               504 /etc/haproxy/emptyresponse.http
option                  httpchk GET /v2/public/check?key=1234 HTTP/1.1\r\nHost:\ prod.uiexm.com
server                  app01-client app01-private:8080  maxconn 7500 check weight 1
server                  app02-client app02-private:8080  maxconn 7500 check weight 1
