[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
#symbolic-links=0
port=3306
server_id=1
auto-increment-increment=2
auto-increment-offset=1

default-storage-engine = INNODB

# SERVER MEMORY
 table_open_cache             = 256
 sort_buffer_size        = 2M
 join_buffer_size        = 512K
 max_heap_table_size     = 16M
 tmp_table_size          = 16M


# QUERY CACHE
 query_cache_size        = 8M
 query_cache_limit       = 4M


# NETWORKING
 net_buffer_length       = 32K
 max_allowed_packet      = 8M
 max_connections         = 500


# THREADS
 # MySQL Recommendation: # CPU's*2
 thread_concurrency      = 4
 thread_stack            = 192K
 thread_cache_size       = 8


# MYISAM SETTINGS
 key_buffer_size           = 256M
 read_buffer_size          = 1M
 read_rnd_buffer_size      = 1M
 myisam_sort_buffer_size   = 64M
 myisam_max_sort_file_size = 512M
 bulk_insert_buffer_size   = 16M
 myisam_repair_threads     = 1



# INNODB SETTINGS
 innodb_file_per_table           = 1
 innodb_data_home_dir            = /var/lib/mysql
 innodb_data_file_path           = ibdata1:128M:autoextend

 innodb_buffer_pool_size         = 1G
 innodb_additional_mem_pool_size = 4M

 innodb_log_file_size            = 64M
 innodb_log_files_in_group       = 2
 innodb_log_group_home_dir       = /var/lib/mysql
 innodb_log_buffer_size          = 4M

 innodb_flush_log_at_trx_commit  = 1
 innodb_lock_wait_timeout        = 50
 innodb_thread_concurrency       = 0


 # If you run into InnoDB tablespace corruption, setting this to a nonzero
 # value will likely help you to dump your tables. Start from value 1 and
 # increase it until you're able to dump the table successfully.
 #innodb_force_recovery          = 0




# SLOW LOG
 slow_query_log = 1 
 slow_query_log_file = mysql-slow
 long_query_time  = 2
# log_long_format

# BINARY LOG
 log-bin          = mysql-bin
 binlog_format   = mixed
 max_binlog_size  = 1G
 expire_logs_days = 2
 log-slave-updates
 master-info-repository = TABLE
 relay-log-info-repository = TABLE
# slave-skip-errors = 1062

 # RELAY LOG
 relay-log          = relay-bin
 max-relay-log-size = 512M

# REPLICATION
 binlog-ignore-db = mysql


## The max_connect_errors help to prevent a host from being blocked due to connect errors.
 max_connect_errors      = 100000

## The wait_timeout determines how long before a sleeping connection is closed
 wait_timeout            = 600

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
open-files-limit = 10240


[mysql]
 no-auto-rehash


[mysqldump]
 max_allowed_packet = 8M


[myisamchk]
 key_buffer       = 20M
 sort_buffer_size = 2M
 read_buffer      = 2M
 write_buffer     = 2M


[isamchk]
 key_buffer       = 20M
 sort_buffer_size = 2M
 read_buffer      = 2M
 write_buffer     = 2M
