[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
#symbolic-links=0
port=3306
server_id=1
auto-increment-increment=2
auto-increment-offset=1
sql_mode=NO_ENGINE_SUBSTITUTION
innodb_strict_mode=OFF

default-storage-engine = INNODB
slave_net_timeout = 3600

# SERVER MEMORY
 table_open_cache        = 2048
 sort_buffer_size        = 2M
 join_buffer_size        = 512K
 max_heap_table_size     = 16M
 tmp_table_size          = 16M


# QUERY CACHE
 query_cache_type        = 1
 query_cache_size        = 16M
 query_cache_limit       = 4M

# NETWORKING
 net_buffer_length       = 32K
 max_allowed_packet      = 16M
 max_connections         = 500


# THREADS
 # MySQL Recommendation: # CPU's*2
 #thread_concurrency      = 4
 thread_stack            = 256K
 thread_cache_size       = 256


# MYISAM SETTINGS
 key_buffer_size           = 256M
 read_buffer_size          = 8M
 read_rnd_buffer_size      = 4M
 myisam_sort_buffer_size   = 64M
 myisam_max_sort_file_size = 10G
 bulk_insert_buffer_size   = 64M
 myisam_repair_threads     = 4



# INNODB SETTINGS
 innodb_file_per_table           = 1
 innodb_data_home_dir            = /var/lib/mysql
 innodb_data_file_path           = ibdata1:128M:autoextend

 innodb_buffer_pool_size         = 4G
 #innodb_additional_mem_pool_size = 20M

 innodb_log_file_size            = 768M
 innodb_log_files_in_group       = 2
 innodb_log_group_home_dir       = /var/lib/mysql
 innodb_log_buffer_size          = 8M

 innodb_flush_log_at_trx_commit  = 2
 innodb_lock_wait_timeout        = 50
 innodb_thread_concurrency       = 0


 # If you run into InnoDB tablespace corruption, setting this to a nonzero
 # value will likely help you to dump your tables. Start from value 1 and
 # increase it until you're able to dump the table successfully.
 #innodb_force_recovery          = 0

# 5.1.54-12.5 - innodb_flush_method: O_DIRECT = open the data files; use fsync() to flush both the data and log files. ALL_O_DIRECT = use O_DIRECT open and flush both the data and the log files.
innodb_flush_method = ALL_O_DIRECT
# When the dirty page are flushed (written to datafile), this parameter determines whether the neighbor pages in the datafile are also flushed at the same time or not. If you use the storage which don't have head seek delay (e.g. SSD or enough Write-Buffered), 0 should show better performance. 0:disable, 1:enable, 2:flushes dirty pages in the same extent from the buffer pool
innodb_flush_neighbors = 0
# 5.6: These two variables cause the server to save the innodb LRU (a list of space_id and page_no) to the file ib_buffer_pool in the directory specified by the datadir configuration setting upon service shutdown and to read it on startup.
innodb_buffer_pool_dump_at_shutdown = 1
innodb_buffer_pool_load_at_startup = 1
# A read-ahead request is an I/O request to prefetch multiple pages in the buffer pool asynchronously, in anticipation that these pages will be needed soon. The default linear read-ahead value is 56.
#innodb_read_ahead_threshold = 56
# Random read-ahead is a technique that predicts when pages might be needed soon based on pages already in the buffer pool, regardless of the order in which those pages were read. If 13 consecutive pages from the same extent are found in the buffer pool, InnoDB asynchronously issues a request to prefetch the remaining pages of the extent. Comment this in single-disk systems.
innodb_random_read_ahead = 1
#To minimize shutdown time, run mysql -e "SET GLOBAL innodb_max_dirty_pages_pct=0"
#a minute or two before shutdown and wait for it to drop before killing the server.
innodb_max_dirty_pages_pct = 90
##New arguments for new patches###
# The number of background IO threads for read requests. The default is 4 and the permissible values range from 1-64. Set to 1 for single disk systems, set to number of reading disks in RAID, only set to >32 on enterprise SSDs.
innodb_read_io_threads = 12
# The number of background IO threads for writing dirty pages from the buffer pool. The default is 4 and the permissible values range from 1-64. Set to 1 for single disk systems, set to number of writing disks in RAID, only set to >32 on enterprise SSDs.
innodb_write_io_threads = 12
# Number of disk IOPs the server can do. Default is 200, lowest accepted value is 100 (for single disk or two-disk RAID1 systems). Setting this higher for SSDs or HW RAIDs will improve performance.
innodb_io_capacity = 2000


# SLOW LOG
 slow_query_log = 1
 slow_query_log_file = mysql-slow
 long_query_time  = 2
# log_long_format

# BINARY LOG
 log-bin          = mysql-bin
 log-bin-index = mysql-bin.index
 binlog_format    = mixed
 max_binlog_size  = 1G
 expire_logs_days = 3
 log-slave-updates
 master-info-repository = TABLE
 relay-log-info-repository = TABLE

 # RELAY LOG
 relay-log          = relay-bin
 max-relay-log-size = 512M

# REPLICATION
 binlog-ignore-db = mysql


## The max_connect_errors help to prevent a host from being blocked due to connect errors.
 max_connect_errors      = 100000

## The wait_timeout determines how long before a sleeping connection is closed
 wait_timeout            = 600

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
open-files-limit = 10240


[mysql]
 no-auto-rehash


[mysqldump]
 max_allowed_packet = 8M


[myisamchk]
 key_buffer       = 20M
 sort_buffer_size = 2M
 read_buffer      = 2M
 write_buffer     = 2M


[isamchk]
 key_buffer       = 20M
 sort_buffer_size = 2M
 read_buffer      = 2M
 write_buffer     = 2M

