[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql


port=3306
server_id=1
auto-increment-increment=2
auto-increment-offset=1

default-storage-engine = INNODB



table_open_cache        = 2048
sort_buffer_size        = 2M
join_buffer_size        = 512K
max_heap_table_size     = 16M
tmp_table_size          = 16M



query_cache_type        = 1
query_cache_size        = 16M
query_cache_limit       = 4M


net_buffer_length       = 32K
max_allowed_packet      = 8M
max_connections         = 500




thread_concurrency      = 4
thread_stack            = 192K
thread_cache_size       = 256



key_buffer_size           = 256M
read_buffer_size          = 8M
read_rnd_buffer_size      = 4M
myisam_sort_buffer_size   = 64M
myisam_max_sort_file_size = 10G
bulk_insert_buffer_size   = 64M
myisam_repair_threads     = 4




innodb_file_per_table           = 1
innodb_data_home_dir            = /var/lib/mysql
innodb_data_file_path           = ibdata1:128M:autoextend

innodb_buffer_pool_size         = 4G
innodb_additional_mem_pool_size = 8M

innodb_log_file_size            = 768M
innodb_log_files_in_group       = 2
innodb_log_group_home_dir       = /var/lib/mysql
innodb_log_buffer_size          = 8M

innodb_flush_log_at_trx_commit  = 2
innodb_lock_wait_timeout        = 50
innodb_thread_concurrency       = 0








innodb_flush_method = ALL_O_DIRECT

innodb_flush_neighbors = 1

innodb_buffer_pool_dump_at_shutdown = 1
innodb_buffer_pool_load_at_startup = 1



innodb_random_read_ahead = 1


innodb_max_dirty_pages_pct = 90


innodb_read_io_threads = 4

innodb_write_io_threads = 4

innodb_io_capacity = 500



slow_query_log = 1 
slow_query_log_file = mysql-slow
long_query_time  = 2



log-bin          = mysql-bin
binlog_format    = mixed
max_binlog_size  = 1G
expire_logs_days = 3
log-slave-updates
master-info-repository = TABLE
relay-log-info-repository = TABLE


relay-log          = relay-bin
max-relay-log-size = 512M


binlog-ignore-db = mysql



max_connect_errors      = 100000


wait_timeout            = 600

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
open-files-limit = 10240


[mysql]
no-auto-rehash


[mysqldump]
max_allowed_packet = 8M


[myisamchk]
key_buffer       = 20M
sort_buffer_size = 2M
read_buffer      = 2M
write_buffer     = 2M


[isamchk]
key_buffer       = 20M
sort_buffer_size = 2M
read_buffer      = 2M
write_buffer     = 2M
